<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mrying.chat.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="org.mrying.chat.model.Question" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="subject" property="subject" jdbcType="CHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject, question, difficulty, content, created_at, updated_at, created_by,
    updated_by
  </sql>

  <!-- 根据查询条件分页查询问题列表 -->
  <select id="selectQuestionByConditionForPage" resultMap="BaseResultMap" parameterType="map" >
    select
    tq.id, tdv.value as subject, tq.question, tdv2.value as difficulty, bu.user_name as createdBy,
    bu2.user_name as updatedBy, tq.created_at, tq.updated_at, tq.content

    from tbl_question tq

    join tbl_dic_value tdv on tdv.id = tq.subject
    join tbl_dic_value tdv2 on tdv2.id = tq.difficulty
    join blog_user bu on bu.user_id = tq.created_by
    left join blog_user bu2 on bu2.user_id = tq.updated_by

    <where>
      <if test="subject != null and subject != ''">
        and tdv.value = #{subject,jdbcType=VARCHAR}
      </if>

      <if test="difficulty != null and difficulty != ''">
        and tdv2.value = #{difficulty,jdbcType=VARCHAR}
      </if>

      <if test="keyword != null and keyword != ''">
        and tq.question like '%' #{keyword,jdbcType=VARCHAR} '%'
      </if>

      <if test="userId != null and userId != ''">
        and tq.created_by = #{userId,jdbcType=VARCHAR}
      </if>
    </where>

    order by tq.created_at desc
    limit #{beginNo},#{pageSize}
  </select>

  <!-- 根据查询条件获取问题数量 -->
  <select id="selectCountOfQuestionByCondition" resultType="java.lang.Integer" parameterType="map">
    select count(*)

    from tbl_question tq

    join tbl_dic_value tdv on tdv.id = tq.subject
    join tbl_dic_value tdv2 on tdv2.id = tq.difficulty
    join blog_user bu on bu.user_id = tq.created_by
    left join blog_user bu2 on bu2.user_id = tq.updated_by

    <where>
      <if test="subject != null and subject != ''">
        and tdv.value = #{subject,jdbcType=VARCHAR}
      </if>

      <if test="difficulty != null and difficulty != ''">
        and tdv2.value = #{difficulty,jdbcType=VARCHAR}
      </if>

      <if test="keyword != null and keyword != ''">
        and tq.question like '%' #{keyword,jdbcType=VARCHAR} '%'
      </if>

      <if test="userId != null and userId != ''">
        and tq.created_by = #{userId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>